<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class=e1_3>
        <div class=e1_573>
            <div class=e1_574>
            </div>
            <div class=e1_586>
                <div class="e1_587">
                    <div class="e1_588 hoverable-div"><span class="e1_589"><a href="/main">Api 사용</a></span></div>
                    <div class="e1_590 hoverable-div"><span class="e1_591"><a href="/paylist">결제 내역</a></span></div>
                    <div class="e1_592 hoverable-div"><span class="e1_593"><a href="/memberlist">회원 등록/관리</a></span></div>
                    <div class="e1_594 hoverable-div"><span class="e1_595"><a href="/accountlist">정산 시스템</a></span></div>
                    <div class="e1_596 hoverable-div"><span class="e1_597"><a href="/develop">개발자센터</a></span></div>
                </div>
                <div class=e1_598>
                    <div class=e1_599><span  class="e1_600">결제내역 확인</span></div>
                    <div class=e1_601><span  class="e1_602"><a href="/login">로그인</a></span></div>
                </div>
            </div>
        </div>
        <div class=e1_10>
            <div class=e1_11>
                <div class=e1_12>
                    <iframe id="mainFrame" width="100%" height="600" style="margin-top: 39px; background: white"></iframe>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    // 초기에 홈 화면을 로드하도록 설정
    document.getElementById("mainFrame").src = "/home";
</script>
